/*------------------------------------------------------------*/
/* Container */
/*------------------------------------------------------------*/

body { background-color: #666; }

#container
{
	background-color: #FFF; 
}

.dialog { display: none; }

/*------------------------------------------------------------*/
/* Backoffice Main Menu */
/*------------------------------------------------------------*/

.menu_main
{
	background: url(../img/bg_menu_main.png) repeat-x;
	position: relative;
	height: 40px;
	padding: 0px 15px;
	
	/* CSS3 */
	
	box-shadow: 0px 1px 5px #333;
	-moz-box-shadow: 0px 1px 5px #333;
	-webkit-box-shadow: 0px 1px 5px #333;
}

.menu_main > li
{
	float: left;	
	height: 45px;
	list-style: none;
	position: relative;
	margin: 0px 15px 0px 0px;
}

.menu_main > li.float_r
{
	float: right;
	margin: 0px 0px 0px 15px;
}

.menu_main > li a
{
	/*background: url(../image/bg_mainMenu_button.png) top repeat-x;*/
	color: #555;
	display: block;
	line-height: 26px;
	padding: 0px 15px;
	margin: 7px 1px 1px 1px;
	text-align: center;
	text-shadow: 0px 0px 2px #FFF;
	
	/* CSS3 */
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.menu_main > li a span { margin-left: 10px; }

.menu_main > li a:hover, 
.menu_main > li:hover a
{
	background: #777;
	border: 1px solid #949494;
	color: #FFF;
	text-shadow: 0px 0px 3px #333;
	margin: 6px 0px 0px 0px;
	
	/* CSS3 */
	
	box-shadow: 0px 0px 1px #333 inset;
	-moz-box-shadow: 0px 0px 1px #333 inset;
	-webkit-box-shadow: 0px 0px 1px #333 inset;
}

.menu_main li a:active,
.menu_main li:hover a:active,
body#dashboard .menu_main li#Home a,
body#Category .menu_main li#Category a
{
	background: #777;
	border: 1px solid #949494;
	color: #FFF;
	text-shadow: 0px 0px 3px #333;
	
	/* CSS3 */
	
	box-shadow: 0px 0px 2px #333 inset;
	-moz-box-shadow: 0px 0px 2px #333 inset;
	-webkit-box-shadow: 0px 0px 2px #333 inset;
}

/* Menu Level 2 */ 

.menu_main > li > ul
{
	background: #999;
	display: none;
	top: 41px;
 	list-style: none;
	min-width: 150px;
	opacity: 0.9;
	padding: 5px;
	position: absolute;
	white-space: nowrap;
	z-index: 1000;
	
	/* CSS3 */
	
	box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	-webkit-box-shadow: 1px 1px 3px #333;
}

.menu_main > li:hover > ul { display: inherit; }

.menu_main > li > ul > li
{
	line-height: 20px;
	margin: 0px;
	padding: 0px;
	position: relative;
}

.menu_main > li:hover > ul > li a, .menu_main > li:hover > ul > li:hover > ul > li > a
{
	background: #999;
	border: 1px solid #999;
	color: #FFF;
	margin-top: 0px;
	padding: 0px 10px;
	text-align: left;
	text-shadow: 0px 0px 3px #333;
	
	/* CSS3 */
	
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.menu_main > li > ul > li:hover a,
.menu_main > li:hover > ul > li:hover > ul > li > a:hover
{
	background: #666;
	border: 1px solid #909090;
	
	/* CSS3 */
	
	box-shadow: 0px 0px 1px #CCC;
	-moz-box-shadow: 0px 0px 1px #CCC;
	-webkit-box-shadow: 0px 0px 1px #CCC;
	
	box-shadow: 0px 0px 2px #333 inset;
	-moz-box-shadow: 0px 0px 2px #333 inset;
	-webkit-box-shadow: 0px 0px 2px #333 inset;
}

.menu_main > li > ul.sub_menu > li a { padding-right: 30px }

.menu_main > li > ul > li  > span 
{ 
	color: #FFF; 
	line-height: 24px; 
	margin-right: 8px; 
}

/* Menu Level 3 */ 

.menu_main > li > ul > li > ul
{
	background: #999;
	display: none;
	min-width: 150px;
	opacity: 0.9;
	padding: 5px;
	position: absolute;
	top: 0px;
	right: -155px;
	white-space: nowrap;
	z-index: 1001;
	
	/* CSS3 */
	
	box-shadow: 0px 1px 5px #333;
	-moz-box-shadow: 0px 1px 5px #333;
	-webkit-box-shadow: 0px 1px 5px #333;
}

.menu_main > li > ul > li:hover > ul { display: inherit; }

.menu_main > li > ul > li > ul > li
{
	margin: 0px;
	padding: 0px;
	position: relative;
}

/*------------------------------------------------------------*/
/* Navigation */
/*------------------------------------------------------------*/

#navigator
{
	border: 1px dotted #999; 
	color: #666; 
	font-size: 10px;
	padding: 5px 10px;
	margin: 0px 15px	
}

#navigator a:link, #navigator a:visited { color: #000; }
#navigator a:hover { text-decoration: underline; }

#user_info { float: right;}

#user_info > b { color: #444;  }

/*------------------------------------------------------------*/
/* Content */
/*------------------------------------------------------------*/

#content
{
	margin: 15px	
}

#content h1 { text-shadow: 0px 0px 2px #999; }

/* Content Top */

#content_top { margin-bottom: 15px; }

#content_top  a, #content_top  button { float: right; }

#content_top hr 
{ 
	margin: 15px 0px;
	border-top-style: dotted;
}

/*------------------------------------------------------------*/
/* Search Section */
/*------------------------------------------------------------*/

#search_section
{
	line-height: 35px;
}

#search_section select { margin-right: 15px; }

#buttton_advance_search { cursor: pointer; }

#buttton_advance_search span { margin-left: 10px; }

#advance_search_section
{
	border: 1px dotted #AAA;
	display: none;
	padding: 5px 10px;
	margin-top: 10px;
	
}

/*------------------------------------------------------------*/
/* Preload */
/*------------------------------------------------------------*/

#preload 
{
	background: #333;
	color: #FFF;
	display: none;
	margin-right: -50px;
	opacity: 0.7;
	padding: 20px 15px 15px 15px;
	position: absolute;
	right: 50%;
	text-align: center;
	top: -5px;
	width: 100px;
	z-index: 1000;
	
	/* CSS3 */
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/*------------------------------------------------------------*/
/* Dialog */
/*------------------------------------------------------------*/

.ui-dialog  
{ 
	min-width: 400px;
}

.ui-dialog .ui-dialog-buttonpane button 
{
	margin-top: 13px;
	margin-left: 0.4em;
	margin-right: 0px;
}

.dialog form 
{ 
	padding: 0px 15px;
	margin-left: -13px;
}

.dialog input[type=text], 
.dialog input[type=password], 
.dialog input[type=file], 
.dialog select, 
.dialog textarea
{
	width: 100%	
}

.dialog > p
{
	margin: 10px 0 0 0;
}

.dialog > p > span
{
	float:left;
	margin: 4px 10px 20px 0;
}

#dialog_alert_message { float: none; }

.attachfile ul
{	
	list-style: none;
	margin: 0;
	margin-top: 5px;
	padding: 0;	
}


.attachfile ul li
{
	border: solid 1px #DDD;
	padding: 3px 5px;
	margin: 1px 0px;
}


.attachfile ul li a.delete_attachfile
{
	background: url(../img/icon_close.png) no-repeat center;
	cursor: pointer;
	float: right;
	height: 24px;
	width: 24px;
}

/*------------------------------------------------------------*/
/* Button */
/*------------------------------------------------------------*/

.button_delete { margin-right: 30px; }

.button_save { margin: 30px auto 20px auto; }

/*------------------------------------------------------------*/
/* End */
/*------------------------------------------------------------*/